[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipython = "*"
ipykernel = "*"
ipywidgets = "*"
requests = "*"
jupytext = "*"
matplotlib = "*"
seaborn = "==0.11.2"
python-dateutil = "*"
sklearn = "*"
pyarrow = "*"
transformers = "*"
tqdm = "*"
torch = "*"
langdetect = "*"
nbconvert = "*"
jupyter = "*"
pexpect = "*"
scikit-learn = "*"
astunparse = "*"
numpy = "*"
ninja = "*"
pyyaml = "*"
setuptools = "*"
cmake = "*"
cffi = "*"
typing-extensions = "*"
future = "*"
six = "*"
dataclasses = "*"
mkl = "*"
mkl-include = "*"
cuda-python = "*"
sentence-transformers = "*"
hdbscan = "*"
umap-learn = "*"
nbmerge = "*"
dash = "*"
dash-bootstrap-components = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
